In [1]:
# import libfraries
import pandas as pd
import numpy as np

In [2]:
# import dataset
ToyotaCorolla = pd.read_csv('https://www.biz.uiowa.edu/faculty/jledolter/datamining/ToyotaCorolla.csv')

In [3]:
ToyotaCorolla.describe()

,Price,Age,KM,HP,MetColor,Automatic,CC,Doors,Weight
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000
mean,10730.824513,55.947075,68533.259749,101.502089,0.674791,0.055710,1566.827994,4.033426,1072.45961
std,3626.964585,18.599988,37506.448872,14.981080,0.468616,0.229441,187.182436,0.952677,52.64112
min,4350.000000,1.000000,1.000000,69.000000,0.000000,0.000000,1300.000000,2.000000,1000.00000
25%,8450.000000,44.000000,43000.000000,90.000000,0.000000,0.000000,1400.000000,3.000000,1040.00000
50%,9900.000000,61.000000,63389.500000,110.000000,1.000000,0.000000,1600.000000,4.000000,1070.00000
75%,11950.000000,70.000000,87020.750000,110.000000,1.000000,0.000000,1600.000000,5.000000,1085.00000
max,32500.000000,80.000000,243000.000000,192.000000,1.000000,1.000000,2000.000000,5.000000,1615.00000

In [4]:
# import library for models
import statsmodels.formula.api as sm

In [5]:
result = sm.ols(formula="Price ~ Age+KM+HP+MetColor+Automatic+CC", data=ToyotaCorolla).fit()

In [6]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.823
Model:                            OLS   Adj. R-squared:                  0.822
Method:                 Least Squares   F-statistic:                     1104.
Date:                Thu, 16 Jan 2020   Prob (F-statistic):               0.00
Time:                        14:32:30   Log-Likelihood:                -12565.
No. Observations:                1436   AIC:                         2.514e+04
Df Residuals:                    1429   BIC:                         2.518e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1.334e+04    482.164     27.673      0.000    1.24e+04    1.43e+04
Age         -146.8912      2.707    -54.263      0.000    -152.201    -141.581
KM            -0.0170      0.001    -11.435      0.000      -0.020      -0.014
HP            31.9339      2.914     10.960      0.000      26.218      37.649
MetColor      19.5457     86.895      0.225      0.822    -150.909     190.001
Automatic    772.3192    177.439      4.353      0.000     424.249    1120.389
CC             2.2152      0.246      9.006      0.000       1.733       2.698
==============================================================================
Omnibus:                      327.749   Durbin-Watson:                   1.350
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2181.964
Skew:                           0.889   Prob(JB):                         0.00
Kurtosis:                       8.771   Cond. No.                     9.33e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.33e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [7]:
ToyotaCorolla.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [8]:
np.random.seed(1)  # set random seed

In [9]:
ToyotaCorolla.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [10]:
X = ToyotaCorolla.drop('Price', axis=1) # independent variables
X = ToyotaCorolla.drop('FuelType', axis=1)

In [12]:
X.head()

   Price  Age     KM  HP  MetColor  Automatic    CC  Doors  Weight
0  13500   23  46986  90         1          0  2000      3    1165
1  13750   23  72937  90         1          0  2000      3    1165
2  13950   24  41711  90         1          0  2000      3    1165
3  14950   26  48000  90         0          0  2000      3    1165
4  13750   30  38500  90         0          0  2000      3    1170

In [13]:
y = ToyotaCorolla.Price # dependent variable

In [14]:
# import split 
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.20)

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_knn = scaler.transform(X_train)
X_test_knn = scaler.transform(X_test)